body {
  background-color: #212121;
  color: #2ad5fa;
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

header {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

p {
  color: white;
}

footer {
  margin-top: 50%;
}
